body{
    background-image:url(hatter.jpg);
    background-size:200%;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing:border-box;
}
#balrafloat{
    float:left;
}
#jobbrafloat{
    float:right;
}
img{
    width: 60vw;
    margin: 0 20vw;
}

h2{
    margin: 0 auto;
    text-align: center;
    width:60vw;
}
main{
    text-align: center;
    width: 90vw;
    margin: 0 5vw;
}
article{
    width:30vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius:10px;
    padding: 0px 5px;
    margin: 10px 5vw 0vw;
} 
article, img{
    border:dashed 5px red;
}