*{
    padding: 0;
    margin: 0;
}
header{
    height:15vh;
    background-color: blue
}
nav{
    height:10vh;
    background-color: violet
}
footer{
    height:10vh;
    background-color: navajowhite
}
main{
    height: 65vh;
    background-color: lightcoral
}
aside{
    width:25%;
    height:100%;
    background-color: navy;
    float: left;
}
article{
    width:75%;
    background-color: olivedrab;
    float:right;
    height: 50%;

}
