
body{
	color: #000000;
	scroll-behavior: smooth;
	margin: auto;
	width: 50vw;
	background-color: gray



}

.header{
	padding: 10px 10px 20px 10px;
	text-align:center;
	border: 3px solid #000000;
	background-color:#0000005e;
	border-style: solid;
	border-width: thin;
	border-radius: 15px 0px;
	border-color:black;
    height: 164px;
	}

.box{
	background-color: #0000005e;
	border-style: solid;
	border-width: thin;
	border-radius: 10px 0px;
	padding: 5px;
	margin-top:10px;
	font-family: arial, Helvetica, sans-serif;
	font-size: medium;
    border-color:black;
	display: flex;
	align-items: center;
	justify-content: left;
	float:left;	
	width:900px;
	height:45px
}

.img{
	margin: none;
	height: 250px
}
.footer{
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%; 
	background-color: red;
	margin: none;
}
.kep{
	margin-top:50px;
	width: 225px;
	float:left;
}
#box{
	background-color: #0000005e;
	border: solid thin black;
	border-radius: 15px 0px;
	width:900px;
	padding: 5px;

}
a{
	color:inherit;
}